#tittle {
    color: white;
    font-style: italic;
    font-family: 'Stencil Std', fantasy;
    font-size: 100px;
    line-height: 0.5;
    text-decoration: underline;
    text-align: center;
    /* Adicionando esta linha */
    margin-top: 190px; /* Ajuste conforme necessário */
}

#tittle1{
    color: white;
    font-style: italic;
    font-family: 'Stencil Std', fantasy;
    font-size: 100px;
    line-height: 0.5;
    text-decoration: underline;
    text-align: center;
    /* Adicionando esta linha */
    margin-top: 375px; /* Ajuste conforme necessário */
}

#tittle2{
    color: white;
    font-style: italic;
    font-family: 'Stencil Std', fantasy;
    font-size: 100px;
    line-height: 0.5;
    text-decoration: underline;
    text-align: center;
    /* Adicionando esta linha */
    margin-top: -100px; /* Ajuste conforme necessário */
    margin-bottom: 140px;
}

#subtittle {
    color: white;
    font-style: italic;
    font-family: 'Stencil Std', fantasy;
    font-size: 50px;
    line-height: 0.5;
    text-decoration: underline;
    word-spacing: 3px;
    text-align: center;
    /* Adicionando esta linha */
}

.text {
    color: white;
    font-style: normal;
    font-family: 'impact', fantasy;
    font-size: 32px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    /* Adicionando esta linha */
    margin-bottom: 575px;
    margin-top: 50px;
}
.email{
    color: white;
    font-style: normal;
    font-family: 'impact', fantasy;
    font-size: 32px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    /* Adicionando esta linha */
    margin-bottom: -20px;
    margin-top: -55px;
}
.mybutton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: solid white 2px;
        border-radius: 20px;
        padding: 10px 20px;
        width: fit-content; /* Ajusta ao tamanho do conteúdo */
        margin: 10px auto; /* Centraliza horizontalmente */
        margin-top: -150; /* Ajuste o valor conforme necessário */
        margin-bottom: 10px
    ;
    
}

.button { 
        color: slategray;
        font-family: 'Impact', fantasy;
        text-decoration: none;
    }


img{
    border-radius: 40px;
}



.fim {
    letter-spacing: 1px;
    font-size: 42px;
    font-style: normal;
    font-family: 'impact', fantasy;
    text-align: center;
    /* Adicionando esta linha */
    color: white;
    margin-bottom: 475px;
    margin-top: 300px;
}
html, body {
    height: 300vh; /* Faz a página ter 2 vezes a altura da tela */
}

body {
    background-color: slategray;
}
